<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <div class="main1">
        <form action="/product" method="post" enctype="multipart/form-data">
            <div class="name">
            <label for="name">product's name</label>
            <input type="text" name="product[title]" id="name" >
        </div>
        <div class="description">
            <label for="description">description </label>
            <input type="text" name="product[description]" id="description" >
        </div>
        <div class="img">
            <label for="image">image </label>
            <input type="file" name="product[image]" id="image" >
        </div>
        <div class="submit">
            <button type="submit">post</button>
        </div>
        
       <% if(newProduct)  { %>
        <img src="<%=n%>"
        <% } %>


        
        

        </form>
    </div>
</body>
</html>