<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <div class="main1">
        <form action="/product" method="post">
            <div class="name">
            <label for="name">product's name</label>
            <input type="text" name="pname" id="name" >
        </div>
        <div class="description">
            <label for="description">description </label>
            <input type="text" name="description" id="description" >
        </div>
        <div class="img">
            <label for="image">image </label>
            <input type="file" name="photo" id="image" >
        </div>
        <div class="submit">
            <button type="submit">post</button>
        </div>
        

        </form>
    </div>
</body>
</html>