.navbar {
    background-color: #6600FF !important;
    position: sticky;
}
.cover {
    background-color: #6600FF;
    height: 400px;
    width: 100%;
    z-index: 2;
    opacity: 0.9;
    position: absolute;
    border-radius: 0 10px 10px 10px;

}
h3 {
    color: #fbfbfb;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
  }
  span {
    color: #fec86a;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
  
  }
  .div {

    text-align: center;
    margin-top: 100px;
  }
  .explore {
    position: absolute;
    top: 350px;
    font-size:xx-large;
    left:30px;
  }
  .log {
    left: 200px;
  }